@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    /* @apply bg-gray-200; */
  }

  :root {
    --gap : 3.2rem;
    --container-width : 1200px;
    --content-width : 720px;
    --tw-clr-primary-200: 219 255 0;
    --tw-clr-primary-300: 0 232 135;
    --tw-clr-primary-400: 0 224 243;
    --tw-clr-primary-500: 0 196 253;
    --clr-primary-200: rgb(var(--tw-clr-primary-200));
    --clr-primary-300: rgb(var(--tw-clr-primary-300));
    --clr-primary-400: rgb(var(--tw-clr-primary-400));
    --clr-primary-500: rgb(var(--tw-clr-primary-500));
  }
}

@layer components {
  .layout {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    width: 91.666667%;
  }

  .nav-item:hover .nav-item-child-overlay {
    @apply opacity-100;
  }
  .nav-item-child-overlay {
    @apply opacity-0;
  }

  .nav-item:hover .dropdown-icon {
    @apply transform rotate-180;
  }


  div[data-rmiz-modal-overlay="visible"] {
    @apply bg-gray-900 bg-opacity-80;
  }

  /* Line clamp utilities */
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  

  .list-decimal > li > * {
    @apply pl-2 !important;
  }

  .border-blockquote {
    border-image: linear-gradient(0deg,#00ff94,#00e0f3,#00c4fd) 1
  }

  .cursor-newtab {
      cursor: url(/assets/images/new-tab.png) 10 10,pointer
  }

}

@media (min-width: 768px) {
  .md\:code-block {
    @apply pt-14 !important;
  }
}

@media (min-width: 992px) {
  .rotate-lg-6 {
    transform: rotate(6deg);
  }
}

.fancy-border-radius {
  border-radius: 53% 47% 52% 48% / 36% 41% 59% 64%;
}

[data-fade] {
  --tw-translate-y: 2.5rem;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0;
  transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0,0,.2,1)
}

@media (prefers-reduced-motion:reduce) {
  [data-fade] {
      --tw-translate-y: 0px;
      transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      opacity: 1
  }
}

.fade-in-start [data-fade] {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}

.fade-in-start [data-fade="1"] {
  transition-delay: .1s
}

.fade-in-start [data-fade="2"] {
  transition-delay: .2s
}

.fade-in-start [data-fade="3"] {
  transition-delay: .3s
}

.fade-in-start [data-fade="4"] {
  transition-delay: .4s
}

.fade-in-start [data-fade="5"] {
  transition-delay: .5s
}

.fade-in-start [data-fade="6"] {
  transition-delay: .6s
}

.fade-in-start [data-fade="7"] {
  transition-delay: .7s
}

.fade-in-start [data-fade="8"] {
  transition-delay: .8s
}

.introduce-img {
  width: 100%;
}

@media (max-width: 400px) {
  .introduce-img {
    width: 180px !important;
  }
}

.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
